.details {
    display: flex;
    flex-wrap: wrap; /* Ensure items wrap to the next line if necessary */
    gap: 20px; /* Adjust the gap between items as needed */
    margin-bottom: 25px;
}

.details > div {
    display: flex;
    flex-direction: column;
    gap: 5px; 
}

select,input {
    border: 1px solid black;
    border-radius: 5px;
    padding: 8px; 
    flex: 1; 
    min-width: 200px; 
}

button{
    padding: 10px 20px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 30px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #880092fa;
    color: white;
}

button:hover{
    text-decoration: none;
    background-color: rgba(94, 1, 106, 0.897);
}